<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Photo" providerName="System.Data.SqlClient" connectionString="Data Source=TIGER;Initial Catalog=RenamerWeb;Integrated Security=True;Trusted_Connection=True;MultipleActiveResultSets=true;Encrypt=False;"/>
	</connectionStrings>
</configuration>